.wrapper-start-study .my-courses-blocks-container .withbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.enroll-course {
  width: 182px;
  height: 32px;
  background: #FFDF3A;
  border-radius: 1000px;
}

.wrapper-start-study .name-and-surname {
  display: flex;
  flex-direction: row;
  gap: 45px;
  flex-wrap: wrap;
}

.wrapper-start-study .name-and-surname label {
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.wrapper-start-study .name-and-surname div {
  display: flex;
  flex-direction: column;
}

.wrapper-start-study .name-and-surname input {
  width: 326px;
  height: 41px;
  background: #FFFFFF;
  border-radius: 1000px;
}

.wrapper-start-study .my-courses-blocks-container {
  align-items: flex-end;
}

.wrapper-start-study .function-btn {
  height: auto;
  width: auto;
  padding: 10px 20px;
}

.wrapper-start-study .fill-review {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper-start-study .content-fill-review {
  width: auto;
  height: auto;
  max-width: 1300px;
  max-height: 500px;
  height: auto;
  background: rgba(222, 224, 255, 0.7);
  border-radius: 16px;
  padding: 30px;
}

.wrapper-start-study .put-ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.wrapper-start-study .put-ratings p {
  font-size: 24px;
  line-height: 28px;
  color: black;
}

* {
  box-sizing: border-box;
}

.container-feedback {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating>input {
  display: none;
}

.rating>label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating>input:checked~label,
.rating>input:checked~label~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating>input:not(:checked)~label:hover,
.rating>input:not(:checked)~label:hover~label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji-wrapper:after {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji>svg {
  margin: 15px 0;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked~.emoji-wrapper>.emoji {
  transform: translateY(-100px);
}

#rating-2:checked~.emoji-wrapper>.emoji {
  transform: translateY(-200px);
}

#rating-3:checked~.emoji-wrapper>.emoji {
  transform: translateY(-300px);
}

#rating-4:checked~.emoji-wrapper>.emoji {
  transform: translateY(-400px);
}

#rating-5:checked~.emoji-wrapper>.emoji {
  transform: translateY(-500px);
}

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
}

.wrapper-start-study .content-fill-review {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-fill {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-fill p {
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.review-fill textarea {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 10px;
  font-size: 20px;
  line-height: 21px;
}

.wrapper-start-study .fill-review-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.wrapper-start-study #fill-review {
  width: 106px;
  height: 32px;
  background: #FFDF3A;
  border-radius: 1000px;
  margin-bottom: 100px;
}

@media screen and (max-width: 420px) {
  .wrapper-start-study .fill-review {
    max-width: 500px;
  }

  .wrapper-start-study .name-and-surname {
    gap: 5px;
  }

  .wrapper-start-study .review-fill textarea {
    padding: 5px;
  }

  .wrapper-start-study .content-fill-review {
    height: auto;
    max-height: 600px;
  }
}

.footer-start {
  background-color: #9A9FFF;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.wrapper-start-study {
  max-width: 1440px;
  margin: 0 auto;
}

.contact-mentor {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 1000px;
  padding: 8px;
}

.link-mentor {
  background: transparent;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.wrapper-start-study .name-and-surname input {
  padding: 10px;
  font-size: 20px;
}

@media screen and (max-width: 420px) {
  .footer-start {
    width: 977px;
  }
}
