/* section-3 */
.title-section-3 {
  font-size: 64px;
  line-height: 74px;
  color: #292929;
  margin-left: 100px;

  margin-bottom: 17px;
}

.white-title-section-3 {
  color: white;
}

.paragraph-section-3 {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #6D6D6D;
  margin-bottom: 11px;
}

.content-section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 966px;
  padding: 40px 70px 40px 96px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  margin: 0 auto;
}

.titleAndImage {
  display: flex;
  flex-direction: column;
}

.description-title-section-3 {
  font-size: 56px;
  line-height: 64px;
  color: #160033;
  margin-bottom: 31px;
}

.name-tutor {
  font-size: 28px;
  line-height: 32px;
  color: #000000;
}

.theses {
  margin-bottom: 17px;
}

.theses-item {
  font-size: 24px;
  line-height: 28px;
  color: #6D6D6D;
}

.theses li {
  position: relative;
  padding: 5px 15px;
}

.theses li:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #6D6D6D;
  ;
  bottom: 13px;
  left: 0px;
  position: absolute;
}

.buttons-section-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 17px;
}

.startStudying {
  width: 211px;
  height: 49px;
  background: #ffffff;
  border-radius: 1000px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: 38px;
}

.about {
  width: 211px;
  height: 49px;
  border-radius: 1000px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.2);
  padding: 12px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (max-width: 420px) {
  .content-section-3 {
    margin: 0 50px 60px 50px;
    justify-content: center;
    align-items: center;
  }
  .titleAndImage {
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
  }
  .paragraph-section-3 {
    color: rgb(75, 75, 75);
  }
  .theses-item {
    color: rgb(75, 75, 75);
  }
  .content-section-3 {
    background-color: rgba(255, 255, 255, 0.916);
  }
  .section-3 {
    background: #ffffffb0;
    box-shadow: 0px 0px 20px 10px #0000007d; 
    border-radius: 24px;
    margin: 0 40px;
  }
  .title-section-3 { 
   padding-top: 20px;
  }
  .about {
  border: 2px solid #725c3d;
  }
  .startStudying {
  background: #ffbe64;
  }
}
